<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>National Parks</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Seven Wonders</h1>
      <p>
        Have you ever wondered about the seven natural wonders of the world? Or
        how about the seven wonders of the world? Or the difference between the
        two!?
      </p>
      <p>
        If you would like to see the list of
        <strong>The Seven Natural Wonders</strong>, please add /naturalwonders
        to the end of the url in your browser.
      </p>
      <p>
        If you would like to see the list of <strong>The Seven Wonders</strong>,
        please add /sevenwonders to the end of the url in your browser.
      </p>
    </div>

  </body>
</html>
